
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


html{
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url('./assets/fondo1.png');
  color: white;
}
button{
  cursor: pointer;
  font-family: inherit;
  color: #8E3D4C;
  background-color: #FEA646;
  border: 2px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
}

h1{
  text-align: center;
  text-shadow: 2px 2px 0 orange,
               -2px -2px 0 orange,
               -2px 2px 0 orange,
               2px -2px 0 orange;
}

p{
  text-align: center;
  background-color: #fff9;
  padding: 15px;
  color: #222 ;
  border-radius: 15px;
}

.container{
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}

.phraseAuthor{
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
}